* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}


body {
    background: url('../img/ep_naturalblack.png');
    font-family: 'Dosis', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    line-height: 34px;
    width: 100%;
    /*max-width: 960px;*/
    margin: 0 auto;
    clear: both;
    letter-spacing: 2px;
}
nav {
    background-image: url('../img/ignasi_pattern_s.png');
    list-style: none;
    text-decoration: none;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 2%;
}

nav a {
    padding-left: 30px;
}

.navbar {
    display: inline-flex;
    float: right;
}
#top:hover {
    text-decoration: none;
}
#home-content {
    text-align: center;
}

.about {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5%;
    background: url('../img/ep_naturalwhite.png');
    color: #000;
}

.about-container {
    display: inline-flex;
    max-width: 60%;
    text-align: center;
}

.about-links {
    max-width: 35%;
    margin-top: 30px;
    margin-left: 33%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.about a {
    display: inherit;
    margin-left: 35px;
}
.profile-shot {
    border-radius: 50%;
}

.skills-first-row {
    text-align: center;
    max-width: 300px;
    display: inline;
}

.skills-second-row {
    text-align: center;
    max-width: 300px;
    display: inline;
}

.skills-third-row {
    text-align: center;
    max-width: 300px;
    display: inline;
}
.skills-fourth-row {
    text-align: center;
}


.skill-spacing-first {
    margin-left: 3%;
    margin-right: 2%;
}
.skill-spacing {
    margin-left: 10%;
    margin-right: 10%;
}

.skill-spacing-fourth {
    margin-left: 3%;
    margin-right: 2%;
}
.image-container {
    display: inline-flex;
    background-image: url("../img/ep_naturalblack.png");
}
.project-container {
    text-align: center;
    margin-bottom: 10%;
}

.project-container h5 {
    color: #ccc;
    font-size: 25px;
    margin-top: 10%;
}
.project-intro {
    margin-bottom: 50px;
}
.project-intro h1 {
    color: #ccc;
}
.project-intro p {
    color: #ccc;
}

.logo-container {
    border-width: 13px;
    border-style: solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 5%;
    border-color:#cba;
    background-image: url("../img/ep_naturalwhite.png");
}

.project-info {
    text-align: center;
}

.jslv {
    margin-top: 40px;
}

.north-east-trees{
    margin-left: -40px;
    margin-right: -40px;
}

.projects-more {
    background-image: url("../img/ep_naturalwhite.png");
    max-width: 30%;
    margin-top: 30px;
    margin-left: 35%;
    border-style: solid;
    border-color: #cba;
    border-width: 10px;
}

.project-linkedin {
    padding-left: 30px;
    padding-right: 30px;

}

i.fa.fa-linkedin.fa-4x {
    color: #0e76a8;
}

.footer-container {
    background-image: url('../img/ignasi_pattern_s.png');
}
.footer {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 15px;
}

.footer-icons {
    text-align: center;
}

footer p {
    display: inline;
    position: relative;
    left: 20%;
    font-size: small;
}

.breadCrumb {
    float: right;
}

i {
    font-size: 50px;
}

i.fa.fa-facebook-square.fa-2x {
    color: #3b5998;
    padding-left: 20px;
    padding-right: 20px;
}

i.fa.fa-linkedin-square.fa-2x {
    color: #0e76a8;
    padding-right: 20px;
}

i.fa.fa-twitter.fa-2x {
    color: #4099FF;
padding-right: 20px;
}

i.fa.fa-steam-square.fa-2x {
padding-right: 20px;
}

i.fa.fa-twitch.fa-2x {
    color: purple;  
padding-right: 20px;
}

i.fa.fa-free-code-camp.fa-2x {
    color: green;
}